[flake8]
--select = A,B,C,D,E,F,W,C90,FS
max-line-length = 90
# For PEP8 error codes see
# http://pep8.readthedocs.org/en/latest/intro.html#error-codes
; per-file-ignores =
	; **/__init__.py: D104
ignore =
	D100,
	D101,
	D102,
	D103,
	D105,
	D107,
	E501,
	E741,
	F821,
	F841,
	FS002,
	FS001,
	W503
# for compatibility with black
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
extend-ignore = E203
