[flake8]
; exclude =
    ; .git,
    ; __pycache__,
    ; build,
    ; dist,
	; env,
	; venv,
	; doc/_build
; --select = D,E,F,W,C90,CFQ
; docstring-convention = numpy
max-line-length = 100
# For PEP8 error codes see
# http://pep8.readthedocs.org/en/latest/intro.html#error-codes
; per-file-ignores =
	; **/__init__.py: D104
ignore =
	CFQ003,
	CFQ,
	D100,
	D101,
	D102,
	D103,
	D105,
	D107,
	D401,
	E265,
	E402,
	E501,
	E711,
	E712,
	E713,
	E721,
	E741,
	F401,
	F821,
	F841,
	FS002,
	FS001,
	W503,
	W504,
	W605,
# for compatibility with black
# https://black.readthedocs.io/en/stable/guides/using_black_with_other_tools.html#flake8
extend-ignore = E203
