---
name: Run examples

on:
    push:
        branches:
        -   master
    pull_request:
        branches:
        -   '*'

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    run_examples:
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                example: [compare_designs.py, JSS_example.py, optimisation.py, tutorial.py]
        steps:
        -   name: Checkout
            uses: actions/checkout@v6
        -   name: Set up Python
            uses: actions/setup-python@v6
            with:
                python-version: '3.12'
                allow-prereleases: false
        -   name: Install neurodesign
            run: python -m pip install .
        -   name: Run example ${{ matrix.example }}
            run: python examples/${{ matrix.example }}
