---
name: tests

on:
    push:
        branches:
        -   master
    pull_request:
        branches:
        -   '*'

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    tests:
        name: Test with ${{ matrix.py }} on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            matrix:
                py: ['3.13', '3.12', '3.11', '3.10', '3.9']
                os: [ubuntu-latest, macos-latest, windows-latest]
        steps:
        -   name: Checkout
            uses: actions/checkout@v4
        -   name: Setup python
            uses: actions/setup-python@v5
            with:
                python-version: ${{ matrix.py }}
                allow-prereleases: true
        -   name: Install tox
            run: python -m pip install --upgrade tox
        -   name: Run tests
            run: tox run -e tests
        -   name: Upload coverage to CodeCov
            uses: codecov/codecov-action@v4
            with:
                flags: ${{ matrix.os }}_${{ matrix.py }}
            if: success()
